Debug
Debug/Mandelbrot.Build.CppClean.log
Debug/Mandelbrot.log
Debug/Mandelbrot.obj
Debug/Mandelbrot.tlog
Debug/Mandelbrot.tlog/cl.command.1.tlog
Debug/Mandelbrot.tlog/CL.read.1.tlog
Debug/Mandelbrot.tlog/CL.write.1.tlog
Debug/Mandelbrot.tlog/link.command.1.tlog
Debug/Mandelbrot.tlog/link.read.1.tlog
Debug/Mandelbrot.tlog/link.write.1.tlog
Debug/Mandelbrot.tlog/Mandelbrot.lastbuildstate
Debug/vc120.idb
Debug/vc120.pdb
Mandelbrot.vcxproj
Mandelbrot.vcxproj.filters
Mandelbrot.vcxproj.user
Release
Release/Mandelbrot.Build.CppClean.log
Release/Mandelbrot.log
Release/Mandelbrot.obj
Release/Mandelbrot.tlog
Release/Mandelbrot.tlog/cl.command.1.tlog
Release/Mandelbrot.tlog/cl.read.1.tlog
Release/Mandelbrot.tlog/cl.write.1.tlog
Release/Mandelbrot.tlog/link.command.1.tlog
Release/Mandelbrot.tlog/link.read.1.tlog
Release/Mandelbrot.tlog/link.write.1.tlog
Release/Mandelbrot.tlog/Mandelbrot.lastbuildstate
Release/vc120.pdb
SDL.dll
include
include/begin_code.h
include/close_code.h
include/SDL.h
include/SDL_active.h
include/SDL_audio.h
include/SDL_byteorder.h
include/SDL_cdrom.h
include/SDL_config.h
include/SDL_config_amiga.h
include/SDL_config_dreamcast.h
include/SDL_config_macos.h
include/SDL_config_macosx.h
include/SDL_config_minimal.h
include/SDL_config_nds.h
include/SDL_config_os2.h
include/SDL_config_symbian.h
include/SDL_config_win32.h
include/SDL_copying.h
include/SDL_cpuinfo.h
include/SDL_endian.h
include/SDL_error.h
include/SDL_events.h
include/SDL_getenv.h
include/SDL_joystick.h
include/SDL_keyboard.h
include/SDL_keysym.h
include/SDL_loadso.h
include/SDL_main.h
include/SDL_mouse.h
include/SDL_mutex.h
include/SDL_name.h
include/SDL_opengl.h
include/SDL_platform.h
include/SDL_quit.h
include/SDL_rwops.h
include/SDL_stdinc.h
include/SDL_syswm.h
include/SDL_thread.h
include/SDL_timer.h
include/SDL_types.h
include/SDL_version.h
include/SDL_video.h
lib
lib/SDL.dll
lib/SDL.lib
lib/SDLmain.lib
